body {
    font-family: system-ui;
    background: #f06d06;
    color: white;
    text-align: center;
}

img {
    width: 20%;
height: 300px
}

p {
    font-size: 30px;
}

h1 {
    font-size: 40px;
}

.line {
    width: 70px;
    background-color: white;
    height: 6px;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.link {
    float: left;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

.link:hover {
    background-color: aqua;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
